<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>CF Explorer</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles-home.css">
        <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">CF Explorer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Find User</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section id="top">

            <div class="heading">
                <h1 class="big-heading">CF Explorer</h1>
                <h3 class="sm-heading">
                    Know about Competitive Porgramming community on <span class="codeforces">Codeforces!</span> 
                </h3>
                <form action="/" method="POST" class="form-top">
                    <label for="handle-input"></label>
                    <input type="text" name="handle" placeholder="CF Handle"><br>
                    <button type="submit" class="btn btn-outline-light">GO</button>
                </form>
            </div>

        </section>
        

        <section id="middle">

            <div class="about-cf" data-aos="fade-left">
                <h2 style="font-size: 3rem; padding: 2rem;">
                    What is <span class="codeforces">CODEFORCES?</span>
                    
                </h2>
                <p class="abt-cf">
                    Codeforces is a website that hosts competitive programming contests.It is maintained by a group of competitive programmers from ITMO University led by Mikhail Mirzayanov. Since 2013, Codeforces claims to surpass Topcoder in terms of active contestants. As of 2018, it has over 600,000 registered users.
                </p>
            </div>
            <div class="cfimage" data-aos="fade-right">
                <a href="https://www.codeforces.com" target="_blank">
                    <img src="https://assets.codeforces.com/users/kguseva/comments/cf.png" alt="codeforces" class="cf-img">
                </a> 
            </div>

        </section>

        <section id="cp">
            
            <h1 class="cp-heading">Top Competitive Programmers around the globe</h1>
            
            <div class="container">
                <div class="row">

                    <div class="col col-md-6">
                        <div class="card" data-aos="fade-down-right">
                            <img class="card-img-top" src="https://userpic.codeforces.com/422/title/50a270ed4a722867.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Gennady Korotkevich aka <span class="cp-handle">tourist</span></p>
                            </div>
                        </div>
                    </div>  

                    <div class="col col-md-6">

                        <div class="card" data-aos="fade-down-left" >
                            <img class="card-img-top" src="https://userpic.codeforces.com/65550/title/303c9acf4d9b52.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Alex Danilyuk aka <span class="cp-handle">Um_nik</span></p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col col-md-6">
                        <div class="card" data-aos="fade-up-right">
                            <img class="card-img-top" src="https://userpic.codeforces.com/664/title/c1ef9e749cad14a0.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Petr Mitrichev aka <span class="cp-handle">Petr</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-6">

                        <div class="card" data-aos="fade-up-left">
                            <img class="card-img-top" src="https://userpic.codeforces.com/147752/title/13dfa099dea83936.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Mateusz Radecki aka <span class="cp-handle">Radewoosh</span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
                
        <section id="bottom">
            <div class="find-user" data-aos="flip-down">
            
                <h2 class="handle-heading">
                    CF Handle
                </h2>
                <form action="/" method="POST">
                    <label for="handle-input"></label>
                    <input type="text" name="handle" placeholder="Enter Here" ><br>
                    <button type="submit" class="btn btn-outline-dark">GO</button>
                </form>

            </div>
        </section>
        
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                offset:300,
                duration:700
            });
        </script>
        
        <script src="/views/partials/index-home.js"></script>
        <script src="/waypoints-master/lib/jquery.waypoints.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <div class="footer">
            <p>©️ Shivansh Gupta</p>
        </div>

    </body>
</html>